/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin image */
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
#blogpage {
  padding: 10px;
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif; }

#blog-listing {
  padding: 20px; }

.blog-lastest-title {
  color: #302e2e;
  font-size: 30px;
  font-weight: 500; }

.blogs-container .category-image img {
  padding-right: 0.625rem; }
  .rtl .blogs-container .category-image img {
    padding-left: 0.625rem;
    padding-right: inherit; }
  @media (max-width: 990px) {
    .blogs-container .category-image img {
      padding-right: 0; }
      .rtl .blogs-container .category-image img {
        padding-left: 0;
        padding-right: inherit; } }
.blogs-container .product-count {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center; }
.blogs-container .pagination .material-icons {
  font-size: 0.9375rem; }
.blogs-container .blog-image img {
  max-width: 100%; }
.blogs-container#blog-category .panel-default {
  border-color: #dddddd; }
  .blogs-container#blog-category .panel-default .panel-body {
    padding: 15px; }
.blogs-container#blog-category .panel {
  margin-bottom: 18px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

/* Blog Item */
.blog-item {
  border-top: 1px solid #DDDDDD;
  background: white;
  margin: 1.875rem 0;
  font-family: "Open Sans", sans-serif; }
  .blog-item .blog-image-container {
    position: relative; }
  .blog-item .title {
    margin: 16px 20px;
    font-size: 20px;
    font-weight: 400; }
    .blog-item .title a {
      font-family: "Open Sans", sans-serif; }
      .blog-item .title a:hover {
        color: #eb557b; }
  .blog-item .blog-image {
    margin-bottom: 0.625rem; }
  .blog-item .blog-meta {
    min-height: 36px;
    overflow: hidden;
    width: 100%;
    margin: 0 20px; }
    @media (max-width: 668px) {
      .blog-item .blog-meta {
        line-height: 40px;
        padding: 0.3125rem 0.625rem; } }
    .blog-item .blog-meta > span {
      color: #999999;
      font-size: 13px;
      margin-top: 0.3125rem;
      margin-right: 10px;
      float: left; }
      .rtl .blog-item .blog-meta > span {
        float: right; }
      .blog-item .blog-meta > span span {
        color: #999999;
        margin-right: 5px; }
      .blog-item .blog-meta > span .material-icons {
        display: none; }
    .blog-item .blog-meta a {
      font-family: "Open Sans", sans-serif;
      color: #999999; }
      .blog-item .blog-meta a:hover {
        color: #eb557b; }
  .blog-item .blog-shortinfo {
    font-size: 13px;
    margin: 0 20px;
    line-height: 26px;
    color: #999999; }
  .blog-item .more {
    margin: 10px 0 20px 20px;
    line-height: 18.5714px;
    padding: 6px 10px;
    font-size: 13px;
    text-transform: none; }
    .rtl .blog-item .more {
      margin: 10px 20px 20px 0; }
  .blog-item p {
    margin-bottom: 0; }

/* Blog detail */
.blog-detail {
  line-height: 24px; }
  .blog-detail .blog-title {
    padding-top: 9px;
    font-weight: 400;
    font-size: 20px; }
  .blog-detail h1 {
    padding-top: 39px; }
  .blog-detail .blog-description {
    font-size: 1rem;
    line-height: 26px; }
  .blog-detail .product-count {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center; }
  .blog-detail .blog-meta {
    margin-bottom: 0.625rem;
    display: inline-block; }
    .blog-detail .blog-meta > span {
      color: #999999;
      font-size: 0.75rem;
      margin-right: 0.625rem;
      float: left; }
      .rtl .blog-detail .blog-meta > span {
        margin-left: 0.625rem;
        margin-right: inherit; }
      .rtl .blog-detail .blog-meta > span {
        float: right; }
      .blog-detail .blog-meta > span a {
        color: #999999; }
        .blog-detail .blog-meta > span a:hover {
          color: #eb557b; }
      .blog-detail .blog-meta > span .material-icons {
        font-size: 0.9375rem; }
  .blog-detail .blog-image {
    margin-bottom: 1.25rem; }
  @media (min-width: 576px) {
    .blog-detail .blog-tags, .blog-detail .social-share {
      display: inline-block; } }

.secondary-blog .blog-meta {
  display: none; }
.secondary-blog .blog-shortinfo {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.layout-boxed-md .latest-blogs .blog-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

.blog-tags, .extra-blogs,
.blog-comments, .social-share,
.blog-comment-block {
  margin-bottom: 1.25rem; }
  @media (max-width: 767px) {
    .blog-tags, .extra-blogs,
    .blog-comments, .social-share,
    .blog-comment-block {
      clear: both; } }

.blog-tags {
  float: right; }
  @media (max-width: 1199px) {
    .blog-tags {
      float: left; }
      .rtl .blog-tags {
        float: right; } }
  .rtl .blog-tags {
    float: left; }
  @media (max-width: 320px) {
    .blog-tags {
      margin-top: 1rem;
      display: inline-block; } }
  .blog-tags a span {
    background: #999;
    color: #FFFFFF;
    line-height: 1;
    padding: 0.3125rem 0.625rem;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
  .blog-tags a:hover span {
    background: #eb557b; }

.extra-blogs ul li {
  padding: 6px 0;
  border-bottom: dotted 1px #DDDDDD; }

.blog-video-code .inner {
  background: #DDD;
  padding: 0.75rem;
  margin-bottom: 0.9375rem;
  text-align: center; }
  .blog-video-code .inner iframe {
    max-width: 100%; }

/* comment */
.comment-item {
  padding: 0.75rem 0; }
  .comment-item img {
    padding: 0 0.75rem 0 0;
    float: left; }
    .rtl .comment-item img {
      padding: 0 0 0 0.75rem; }
    .rtl .comment-item img {
      float: right; }

.extra-blogs {
  clear: both; }

.comment-wrap {
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  padding: 1.25rem;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .comment-wrap .comment-meta {
    border-bottom: 1px solid #DDDDDD;
    font-size: 0.75rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .comment-wrap .comment-infor > span {
    font-weight: bold;
    margin-right: 0.3125rem; }
    .rtl .comment-wrap .comment-infor > span {
      margin-left: 0.3125rem;
      margin-right: inherit; }
    .comment-wrap .comment-infor > span > span {
      font-weight: normal;
      white-space: inherit; }

.comment-link {
  display: block; }

.social-share .social-wrap > div {
  float: left;
  margin-right: 0.625rem; }
  .rtl .social-share .social-wrap > div {
    float: right; }
  .rtl .social-share .social-wrap > div {
    margin-left: 0.625rem;
    margin-right: inherit; }
.social-share .social-heading {
  padding-right: 0.75rem; }
  .rtl .social-share .social-heading {
    padding-left: 0.75rem;
    padding-right: inherit; }
  .social-share .social-heading b {
    display: none; }

.ipts-captcha img {
  float: left;
  padding-right: 0.75rem;
  margin-bottom: 0.625rem; }
  .rtl .ipts-captcha img {
    float: right; }
  .rtl .ipts-captcha img {
    padding-left: 0.75rem;
    padding-right: inherit; }
.ipts-captcha input {
  width: 100px; }

.blog-comment-block .fb-comments {
  margin: 0 -8px; }

#blog-localengine .comments {
  margin-bottom: 1.875rem; }
#blog-localengine .form-horizontal {
  margin-bottom: 1.875rem;
  background: white;
  padding: 1.25rem; }
  #blog-localengine .form-horizontal label {
    display: block;
    margin-bottom: 0;
    padding-top: 7px; }
  #blog-localengine .form-horizontal .form-group:last-child {
    margin-bottom: 0; }

/* Load Submit Comment */
.leoblog-cssload-container {
  width: 100%;
  height: 2.1875rem;
  text-align: center;
  display: none; }

.cssload-speeding-wheel {
  margin: 0 0 0 2.8125rem;
  border: 3px solid #000000;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 2.1875rem;
  height: 2.1875rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: cssload-spin 700ms infinite linear;
  -moz-animation: cssload-spin 700ms infinite linear;
  animation: cssload-spin 700ms infinite linear; }

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* categories menu display on left or right sidebar */
.blog-menu li {
  position: relative; }
.blog-menu ul {
  margin: 0px; }
  .blog-menu ul > li > a {
    font-weight: 300;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0.9375rem; }
  .blog-menu ul > li:last-child > a {
    border-bottom: none; }
  .blog-menu ul > li li a {
    font-size: 0.8125rem;
    padding: 0.625rem 1.25rem; }
.blog-menu .collapse-icons {
  position: absolute;
  top: 0.8125rem;
  padding: 0;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  right: 0.625rem; }
  .rtl .blog-menu .collapse-icons {
    left: 0.625rem;
    right: auto; }
  .blog-menu .collapse-icons .material-icons {
    font-size: 0.9375rem; }
  .blog-menu .collapse-icons[aria-expanded="true"] .add {
    display: none; }
  .blog-menu .collapse-icons[aria-expanded="true"] .remove {
    display: block; }
  .blog-menu .collapse-icons .add,
  .blog-menu .collapse-icons .remove {
    color: #000; }
    .blog-menu .collapse-icons .add:hover,
    .blog-menu .collapse-icons .remove:hover {
      color: #eb557b; }
  .blog-menu .collapse-icons .remove {
    display: none; }

/*** RSS ***/
.blog-lastest-rss {
  float: right !important;
  position: relative;
  top: -2.1875rem; }
  .blog-lastest-rss a {
    color: #f8991d; }
    .blog-lastest-rss a:before {
      content: "\f09e";
      font-family: "FontAwesome";
      font-size: 1.875rem;
      margin-right: 0.3125rem; }
      .rtl .blog-lastest-rss a:before {
        margin-left: 0.3125rem;
        margin-right: inherit; }
    .blog-lastest-rss a:hover {
      color: #eb557b; }

/*** Responsive part ***/
@media (min-width: 576px) {
  #blog-listing {
    padding: 20px; }

  .comment-link {
    background: #F4F4F4;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    border-left: 1px solid #E5E5E5;
    float: right; }
    .rtl .comment-link {
      border-right: 1px solid #E5E5E5;
      border-left: inherit; }
    .rtl .comment-link {
      float: left; }

  .blogs-container .product-count,
  .blog-detail .product-count {
    text-align: right;
    margin-top: 1rem; }
    .rtl .blogs-container .product-count, .rtl
    .blog-detail .product-count {
      text-align: left; } }
@media (max-width: 767px) {
  #blog-localengine .form-horizontal label {
    text-align: left; }
    .rtl #blog-localengine .form-horizontal label {
      text-align: right; }

  .blog-detail .pagination, .blogs-container .pagination {
    text-align: center; }
  .blog-detail .page-item, .blogs-container .page-item {
    display: inline-block; }

  .blog-video-code iframe {
    width: 100%; } }
@media (max-width: 575px) {
  .comment-wrap .comment-meta {
    display: inline-block; }
    .comment-wrap .comment-meta > span {
      display: inline-block;
      margin: 0.3125rem 0;
      width: 100%;
      float: left; }
      .rtl .comment-wrap .comment-meta > span {
        float: right; } }

/*# sourceMappingURL=leoblog.css.map */
