@charset "UTF-8";
/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin image */
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-arrows .slick-arrow {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  z-index: 9;
  cursor: pointer;
  background: #ccc;
  color: transparent;
  text-align: center;
  top: 50%;
  padding: 0;
  border: none;
  outline: none;
  color: black;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .slick-arrows .slick-arrow:hover, .slick-arrows .slick-arrow:focus {
    outline: none;
    background: #eb557b; }
    .slick-arrows .slick-arrow:hover:before, .slick-arrows .slick-arrow:focus:before {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #FFFFFF; }
  .slick-arrows .slick-arrow.slick-disabled:before {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  .slick-arrows .slick-arrow:before {
    font-size: 20px;
    display: block;
    color: #999999;
    font-family: "FontAwesome";
    opacity: 0.75;
    filter: alpha(opacity=75); }
  .slick-arrows .slick-arrow.slick-prev {
    left: 0px; }
    .rtl .slick-arrows .slick-arrow.slick-prev {
      right: 0px;
      left: auto; }
    .slick-arrows .slick-arrow.slick-prev:before {
      content: ""; }
      [dir="rtl"] .slick-arrows .slick-arrow.slick-prev:before {
        content: ""; }
  .slick-arrows .slick-arrow.slick-next {
    right: 0px; }
    .rtl .slick-arrows .slick-arrow.slick-next {
      left: 0px;
      right: auto; }
    .slick-arrows .slick-arrow.slick-next:before {
      content: ""; }
      [dir="rtl"] .slick-arrows .slick-arrow.slick-next:before {
        content: ""; }

.new-collection .slick-arrows .slick-arrow, .featured-product .slick-arrows .slick-arrow, .top-brands .slick-arrows .slick-arrow {
  top: -50px;
  border-radius: 3px;
  height: 25px;
  width: 25px;
  left: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .new-collection .slick-arrows .slick-arrow:before, .featured-product .slick-arrows .slick-arrow:before, .top-brands .slick-arrows .slick-arrow:before {
    font-size: 20px;
    color: #FFFFFF; }
  .new-collection .slick-arrows .slick-arrow.slick-prev, .featured-product .slick-arrows .slick-arrow.slick-prev, .top-brands .slick-arrows .slick-arrow.slick-prev {
    right: 30px; }
    .rtl .new-collection .slick-arrows .slick-arrow.slick-prev, .rtl .featured-product .slick-arrows .slick-arrow.slick-prev, .rtl .top-brands .slick-arrows .slick-arrow.slick-prev {
      left: 30px;
      right: auto; }
  .new-collection .slick-arrows .slick-arrow.slick-next, .featured-product .slick-arrows .slick-arrow.slick-next, .top-brands .slick-arrows .slick-arrow.slick-next {
    right: 0px; }
    .rtl .new-collection .slick-arrows .slick-arrow.slick-next, .rtl .featured-product .slick-arrows .slick-arrow.slick-next, .rtl .top-brands .slick-arrows .slick-arrow.slick-next {
      left: 0px;
      right: auto; }

.top-brands .slick-arrows .slick-arrow {
  top: -45px; }

.feedback-carousel .slick-arrows .slick-arrow {
  top: 50%;
  line-height: 39px;
  background: white;
  border: 1px solid #e7e7e7;
  font-weight: 400;
  width: 40px;
  height: 40px;
  position: absolute; }
  .feedback-carousel .slick-arrows .slick-arrow.slick-prev {
    left: -1px; }
    .rtl .feedback-carousel .slick-arrows .slick-arrow.slick-prev {
      right: -1px;
      left: auto; }
  .feedback-carousel .slick-arrows .slick-arrow.slick-next {
    right: -1px; }
    .rtl .feedback-carousel .slick-arrows .slick-arrow.slick-next {
      left: -1px;
      right: auto; }
  .feedback-carousel .slick-arrows .slick-arrow:before {
    color: black; }
  .feedback-carousel .slick-arrows .slick-arrow:hover, .feedback-carousel .slick-arrows .slick-arrow:focus {
    background: #eb557b; }
    .feedback-carousel .slick-arrows .slick-arrow:hover:before, .feedback-carousel .slick-arrows .slick-arrow:focus:before {
      color: white; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1;
          filter: alpha(opacity=100); }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 20px;
        height: 20px;
        font-family: "FontAwesome";
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.5;
        filter: alpha(opacity=50); }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75;
      filter: alpha(opacity=75); }

/*# sourceMappingURL=slick-theme.css.map */
